.page.theme-light {
  --main-font-weight: 400;
  --title-font-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
  --background-image: url('../svg/pattern-light.svg');
  --contour-color: #000;
}

.page.theme-dark {
  --main-font-weight: 465;
  --title-font-weight: 785;
  --background-color: #000;
  --accent-color: #00cc14;
  --contour-color: #00cc14;
  --background-image: url('../svg/pattern-dark.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --title-font-weight: 785;
    --background-color: #000;
    --accent-color: #00cc14;
    --contour-color: #00cc14;
    --background-image: url('../svg/pattern-dark.svg');
  }
}